extends layouts/base.pug

block body
  .centered-block
    h1 Circular Bots

    .content-box
      form(action='/login' method='post').credentials-form
        input(type='text' name='username')
        input(type='password' name='password')
        button(type='submit') Login
      p: a(href='/lobby') Skip login
      p: a(href='/register') Register
