extends layouts/base.pug

block body
  .centered-block
    h1 Circular Bots

    .content-box
      p Are you sure you want to upload and store your bot in the &#9729;?
      form(action='/upload' method='post').credentials-form
        input(type='hidden' name='key' value=key)
        button(type='submit') Yes
